<link rel="stylesheet" href="/styles/page/profile.css">
<div class="user-header">
</div>
<h1>user profile</h1>
<p>loginUser:<%=JSON.stringify(loginUser)%></p>
<p>userInfo:<%=JSON.stringify(userInfo)%></p>