<link rel="stylesheet" href="/styles/page/settings.css">
<script src="/lib/vue.js"></script>

<div class="container">
    <div class="pager setting-page">
        <div class="pager-content">
            <div class="setting-profile">
                <div class="settings-page-title">设置个人信息</div>
                <div class="input-list">
                    <div class="input-item clearfix">
                        <label>用户名</label>
                        <div class="input-content">
                            <div class="username">
                                {{username}}<small>与github帐号相同</small>
                            </div>
                        </div>
                    </div>
                    <div class="input-item clearfix">
                        <label>性别</label>
                        <div class="input-content">
                            <div class="gender-selector" v-bind:class="{
                            male: this.gender == 'male',
                            female: this.gender == 'female',
                            }"
                            >
                                <div class="male-item" @click="setMale">
                                    <svg viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M598.692864 154.631168c147.339264 0 267.249664 119.922688 267.249664 267.262976 0 147.3536-119.9104 267.265024-267.249664 267.265024-147.354624 0-267.260928-119.912448-267.260928-267.265024-0.00512-147.340288 119.906304-267.262976 267.260928-267.262976zM123.565056 926.724096h237.564928c16.39424 0 29.683712-13.303808 29.683712-29.704192 0-16.381952-13.289472-29.68576-29.683712-29.68576H193.399808l195.337216-195.34336c56.772608 47.699968 129.954816 76.56448 209.95584 76.56448 180.434944 0 326.647808-146.225152 326.647808-326.66112 0-180.371456-146.21184-326.648832-326.647808-326.648832-180.373504 0-326.65088 146.277376-326.65088 326.648832 0 79.048704 28.090368 151.510016 74.830848 207.97952L153.263104 823.499776V659.473408c0-16.406528-13.315072-29.700096-29.698048-29.700096-16.400384 0-29.698048 13.293568-29.698048 29.700096v237.54752c-0.00512 16.39936 13.297664 29.703168 29.698048 29.703168z"></path>
                                    </svg>
                                    <span>男码畜</span>
                                </div>
                                <div class="female-item" @click="setFemale">
                                    <svg viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M602.53399 121.078536c-169.500167 0-306.907087 137.40692-306.907087 306.907087 0 73.586322 25.910181 141.11676 69.089902 193.987851l-93.683245 93.683246-103.405923-103.407879a28.555594 28.555594 0 0 0-20.537174-8.380404c-16.081844 0.125227-29.222817 13.2662-29.346087 29.348044a28.577117 28.577117 0 0 0 8.368664 20.533261l103.415705 103.413749-98.657092 98.657092a29.246297 29.246297 0 0 0-8.609334 20.766104c0 16.209027 13.139017 29.348044 29.348044 29.348044a29.250211 29.250211 0 0 0 20.760234-8.601507l98.662963-98.662962 103.049809 103.047852a29.263907 29.263907 0 0 0 20.752407 8.595637c16.209027 0 29.348044-13.139017 29.348044-29.350001a29.250211 29.250211 0 0 0-8.601507-20.760234l-103.040026-103.040025 93.462142-93.462143c53.240901 44.439814 121.759456 71.191362 196.531518 71.191362 169.500167 0 306.907087-137.40692 306.907087-306.90513-0.001957-169.502124-137.408876-306.909044-306.909044-306.909044z m0.08805 555.286359c-137.13103 0-248.293179-111.164106-248.293179-248.293179S465.492967 179.778537 602.62204 179.778537c137.12516 0 248.291222 111.164106 248.291223 248.293179 0 137.127116-111.166063 248.293179-248.291223 248.293179z"></path>
                                    </svg>
                                    <span>女码农</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="input-item clearfix">
                        <label>昵称</label>
                        <div class="input-body">
                            <input type="text" v-model="nickName">
                        </div>
                    </div>
                    <div class="input-item clearfix">
                        <label>公司</label>
                        <div class="input-body">
                            <input type="text" v-model="company">
                        </div>
                    </div>
                    <div class="input-item clearfix">
                        <label>博客</label>
                        <div class="input-body">
                            <input type="text" v-model="blog">
                        </div>
                    </div>
                    <div class="input-item clearfix">
                        <label>个性签名</label>
                        <div class="input-body">
                            <textarea v-model="bio" maxlength="300" placeholder="一句话介绍自己"></textarea>
                        </div>
                    </div>
                </div>
                <footer>
                    <a href="javascript:void(0)" @click="submit" class="submit-btn">修改</a>
                </footer>
            </div>
        </div>
        <aside class="pager-sidebar">
        </aside>
    </div>
</div>
<script>
    var userInfo = <%- JSON.stringify(loginUser) %>;
    userInfo.gender = userInfo.gender || '';
    var vueSettingsProfile = new Vue({
        el: '.setting-profile',
        data: userInfo,
        methods: {
            setMale: function(){
                this.gender = "male";
            },
            setFemale: function(){
                this.gender = "female";
            },
            parse: function () {
                return {
                    gender: this.gender,
                    nickName: this.nickName,
                    company: this.company,
                    bio: this.bio
                }
            },
            submit: function () {
                console.log(this.parse())
//                if () {}
                UI.prompt('这块儿还没写呢！');
            }
        }
    });
</script>