@import "_core.less";

/**
 * 导航
 */
@nav_height: 60px;
navigation.nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: @nav_height;
	background: -webkit-linear-gradient(top,rgba(0,0,0,.2),transparent);
	background: -moz-linear-gradient(top,rgba(0,0,0,.2),transparent);
	background: linear-gradient(top,rgba(0,0,0,.2),transparent);
	.transition(.8s,ease,background-color);
	z-index: 1000;
	.logo{
		float: left;
		width: @nav_height;
		height:@nav_height;
		line-height: @nav_height;
		font-size: 26px;
		font-weight: bold;
		color: #fff;
		span{
			opacity: .4;
		}
	}
	.nav-list {
		float: left;
		li {
			float: left;
			a {
				display: block;
				height: @nav_height;
				padding: 0 2em;
				outline: none;
				overflow: hidden;
				line-height: @nav_height;
				color: #fff;
				text-align: center;
				font-size: 16px;
				.transition(.2s);
				&:hover {
					color: #f70
				}
			}
			&.active{
				a {
					color: #f70
				}
			}
		}
	}
	.nav-side {
		float: right;
		height: @nav_height;
		font-size: 0;
		a {

			display: inline-block;
			height: @nav_height;
			line-height: @nav_height;
			padding: 0 10px;
			font-size: 14px;
			color: #fff;
		}
	}
	&:hover,
	&.darken{
		background-color: #333;
	}
}