<!DOCTYPE html>
<html>
<head>
    <title><%=typeof title == 'undefined' ? 'New Sails App' : title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/styles/app.css">
</head>
<body>
    <navigation class="nav">
        <div class="container">
            <a href="/" class="logo">i<span>-</span>fe</a>
            <div class="nav-list">
                <ul>
                    <li><a href="/">首页</a></li>
                    <li><a href="#">发现</a></li>
                    <li><a href="#">APP</a></li>
                </ul>
            </div>
            <div class="nav-side">
                <% if( loginUser ) { %>
                <a href="/catch/<%=loginUser.username%>"><%=loginUser.username%></a>
                <% } else { %>
                <a href="javascript:void(0)" class="login-btn">登录</a>
                <a href="javascript:void(0)" class="register-btn">注册</a>
                <% }  %>
            </div>
        </div>
    </navigation>
    <%- body %>


    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/lib/jquery.js"></script>
    <script src="/lib/dialog.js"></script>
    <script>
        (function(){
            var distance = 100,
                // 是否已经置灰
                isDarkened = false,
                darkenClassName = "darken",
                $nav = $("navigation.nav"),
                $win = $(window),
                useMethod;
            function fixClass(){
                var isNeedDarken = $win.scrollTop() > distance,
                    isNeedChange = isNeedDarken !== isDarkened;
                if (isNeedChange) {
                    isDarkened = isNeedDarken;
                    useMethod = (isNeedDarken ? 'add' : 'remove') + 'Class';
                    $nav[useMethod](darkenClassName);
                }
            }
            $(window).on("scroll", fixClass);
            fixClass();
            $('.login-btn').on('click', function () {
                UI.prompt('暂不开放登录！');
            });
            $('.register-btn').on('click', function () {
                UI.prompt('暂不开放注册！');
            });
        })();
    </script>
</body>
</html>
