<link rel="stylesheet" href="/styles/page/profile.css">
<div class="user-header">
</div>
<div style="height: 800px;">
    <div class="container">
        <h1>home page</h1>
        <p>loginUser:<%=JSON.stringify(loginUser)%></p>
    </div>
</div>