<link rel="stylesheet" href="/styles/page/home.css">
<div class="billboard">
    <div class="slogan">
        <span>I</span>'m a <span>F</span>ront<span>E</span>nd Engineer
    </div>
</div>
<div class="home-intro">
    <div class="container">
        <h1>开发中...</h1>
    </div>
</div>