<link rel="stylesheet" href="/styles/page/opus-list.css">

<div class="container">
    <div class="opus-list clearfix">
        <% opusList.forEach(function( item, index ){ %>
        <a class="opus-item" href="/try/<%= item.id%>" >
            <div class="cover" style="background-image: url(<%= item.cover %>)"></div>
            <div class="intro">
                <div class="title"><%= item.title %></div>
                <div class="desc"><%= item.intro %></div>
            </div>
            <div class="data">
            </div>
        </a>
        <% })%>
    </div>
</div>