<link rel="stylesheet" href="/styles/page/publish.css">
<script src="/lib/vue.js"></script>
<div class="publish-page" >
    <div class="container">
        <div class="publish-opus">
            <h1>发布作品</h1>
            <div class="input-list">
                <div class="input-item clearfix" v-bind:class="{inputError: this.errList.title}">
                    <label>标题</label>
                    <div class="input-body">
                        <input type="text" v-model="title" maxlength="30">
                    </div>
                </div>
                <div class="input-item clearfix" v-bind:class="{inputError: this.errList.intro}">
                    <label>介绍</label>
                    <div class="input-body">
                        <textarea v-model="intro" maxlength="300"></textarea>
                    </div>
                </div>
                <div class="input-item clearfix item-cover" v-bind:class="{inputError: this.errList.cover}">
                    <label>封面图</label>
                    <div class="input-body">
                        <div v-if="!cover.length">
                            <form enctype="multipart/form-data" method="post" name="fileinfo">
                                <input type="file" name="cover" @change="uploadFile">
                            </form>
                        </div>
                        <div v-if="cover.length"><img v-bind:src="cover" ></div>
                    </div>
                </div>
                <div class="input-item clearfix" v-bind:class="{inputError: this.errList.url}">
                    <label>在线地址</label>
                    <div class="input-body">
                        <input type="text" v-model="url">
                    </div>
                </div>
                <div class="input-item clearfix" v-bind:class="{inputError: this.errList.githubFullName}">
                    <label>github地址</label>
                    <div class="input-body">
                        <input type="text" v-model="githubFullName">
                    </div>
                </div>
            </div>
            <footer>
                <a href="javascript:void(0)" @click="submit" class="submit-btn">发布</a>
            </footer>
        </div>
    </div>
</div>
<script>
    function isUrl( input ){
        return !!( input || '').match(/^http(s|):\/\/[^\.]+\.[^\.]+/);
    }
    function uploadFile(fileInput, callback){
        if (!callback) {
           return;
        }
        $.ajax({
            url: '/api/opus/addCover',
            type: 'POST',
            cache: false,
            data: new FormData(fileInput.parentNode),
            processData: false,  // 关键点
            contentType: false  // 关键点
        }).done(function(res) {
            callback(null, res);
        }).fail(function(res) {
            callback(res);
        });
    }
    var vm = new Vue({
        el: '.publish-opus',
        data: {
            title: '',
            intro: '',
            cover: '',
            url: '',
            githubFullName: '',
            errList: {}
        },
        methods: {
            validator: function(){
                var me = this;
                this.errList = {};
                return true;
                if(this.title.length === 0 || this.title.length > 30) {
                    this.errList.title = true;
                } else if (this.intro.length === 0 || this.intro.length > 300) {
                    this.errList.intro = true;
                } else if (this.cover.length === 0 ){
                    this.errList.cover = true;
                } else if (!isUrl(this.url)) {
                    this.errList.url = true;
                } else {
                    return true;
                }
                setTimeout(function(){
                    me.errList = {};
                }, 2000);
                return false;
            },
            uploadFile: function (e) {
                var me = this,
                    file = e.target.files[0],
                    supportedTypes = ['image/jpg', 'image/jpeg', 'image/png'];
                if( !file ){
                    return;
                }
                if (supportedTypes.indexOf(file.type) >= 0) {
//                    this.file = file;
                    uploadFile(e.target, function(err, data){
                        if (err){
                            return;
                        }
                        me.cover = data.url;
                    });
                } else {
                    UI.prompt('只能上传图片呦！');
                }
            },
            submit: function () {
                if( !this.validator() ){
                    return;
                }
                var me = this;
                $.ajax({
                    url: '/api/opus/add',
                    type: 'post',
                    data: {
                        title: this.title,
                        intro: this.intro,
                        cover: this.cover,
                        url: this.url,
                        githubFullName: this.githubFullName
                    },
                    success: function(){
                        UI.prompt('创建成功！');
                        me.title = '';
                        me.intro = '';
                        me.cover = '';
                        me.url = '';
                        me.githubFullName = '';
                    },
                    error: function(){
                        UI.prompt('创建失败！');
                    }

                });
            }
        }
    })
</script>