.billboard{
	height:600px;
	background: url("http://test.bh-lay.com/pano.jpg") no-repeat center center;
	background-size: cover;
	.slogan{
		padding: 160px 0;
		font-size: 24px;
		text-align: center;
		color: #fff;
		span{
			font-size: 50px;
			text-shadow: 1px 0 2px rgba(0,0,0,.3);
		}
	}
}
.home-intro{
	height:800px;
	padding: 50px 0;
}