@import "../less/_core.less";

.user-cover{
	position: relative;
	height: 270px;
	background: url("http://test.bh-lay.com/pano-3.jpg") center #d1e2f1;
	.author-location{
		position: absolute;
		right: 10px;
		bottom: 10px;
		opacity: .4;
		.transition( 0.4s );
		a{
			font-size: 12px;
			color: #fff;
			text-shadow: 0 1px 2px #000;
		}
	}
	&:hover .author-location{
		opacity: 1;
	}
}
.user-profile{
	position: relative;
	min-height: 140px;
	margin-bottom: 20px;
	border-bottom: 1px solid #eee;
	.avatar{
		position: absolute;
		top: -60px;
		left: 0;
		width: 160px;
		height: 160px;
		background: #fff;
		border: 6px solid #fff;
		border-radius: 8px;
		box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
		img{
			display: block;
			width: 100%;
			height: 100%;
			border-radius: 4px;
			background: #333;
		}
	}
	.username{
		height: 30px;
		margin-bottom: 10px;
		line-height: 30px;
		font-size: 28px;
	}
	.gender{
		svg,
		span{
			display: inline-block;
			vertical-align: middle;
		}
		span{
			line-height: 24px;
			font-size: 16px;
		}
	}
}
.user-profile-body{
	padding: 20px 20px 0 200px;
}
.opus-list{
	margin: 0 -20px 20px 0;
	padding: 20px 0;

	.opus-item{
		float: left;
		width: 235px;
		margin-right: 20px;
		border: 1px solid #333;
		.borderbox();
		.cover{
			img{
				display: block;
				width: 100%;
			}
		}
	}
}